<div class="jumbotron" style="background-image: url(http://www.tarantinos-regensburg.de/wp-content/uploads/2014/08/tarantinos-regensburg-pizzeria-pizza_4.jpg); background-size: cover;">
  <div class="container">
    <span class="text-white text-center"><h1>Pizzaria X</h1></span> 
  </div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6">
		<div class="bs-example">
    		<div id="myCarousel" class="carousel slide" data-ride="carousel">
        		<ol class="carousel-indicators">
            		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            		<li data-target="#myCarousel" data-slide-to="1"></li>
            		<li data-target="#myCarousel" data-slide-to="2"></li>
        		</ol>   
        		<div class="carousel-inner">
            		<div class="item active">
                		<%= image_tag("pizza.jpg") %>
            		</div>
            		<div class="item">
                		<%= image_tag("pizza2.jpg") %>
            		</div>
            		<div class="item">
                		<%= image_tag("pizza.jpg") %>
            		</div>
        		</div>
        		<a class="carousel-control left" href="#myCarousel" data-slide="prev">
            		<span class="glyphicon glyphicon-chevron-left"></span>
        		</a>
        		<a class="carousel-control right" href="#myCarousel" data-slide="next">
            		<span class="glyphicon glyphicon-chevron-right"></span>
        		</a>
    		</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-6">
		<div class="bs-example">
    		<div id="myCarousel" class="carousel slide" data-ride="carousel">
        		<ol class="carousel-indicators">
            		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            		<li data-target="#myCarousel" data-slide-to="1"></li>
            		<li data-target="#myCarousel" data-slide-to="2"></li>
        		</ol>   
        		<div class="carousel-inner">
            		<div class="item active">
                		<%= image_tag("pizza.jpg") %>
            		</div>
            		<div class="item">
                		<%= image_tag("pizza2.jpg") %>
            		</div>
            		<div class="item">
                		<%= image_tag("pizza.jpg") %>
            		</div>
        		</div>
        		<a class="carousel-control left" href="#myCarousel" data-slide="prev">
            		<span class="glyphicon glyphicon-chevron-left"></span>
        		</a>
        		<a class="carousel-control right" href="#myCarousel" data-slide="next">
            		<span class="glyphicon glyphicon-chevron-right"></span>
        		</a>
    		</div>
		</div>
	</div>
	
</div>